<ion-view class="signup-view auth-view" cache-view="false">
    <ion-content scroll="false">
        <div class="row">
            <div class="col col-center">
                 <img src="/img/small-falcon.png" style="width: 17%;margin-left: 42%;">
          <div style="text-align: center;margin-top: 20px;">
          <h3 style="color: #fe980f;">Register</h3>
          </div>
          <form name="login_form" class="">
          <div style="margin-top: 50px;margin-bottom: 12px;">
            <label class="item item-input" style="border: none;border-bottom: 1px solid #b5b5b5">
                           <i class="icon ion-person" style="font-size: 25px; margin-right: 10%;"></i>
                        <input type="text" placeholder="Roll Number" value="">
                    </label>
          </div>
          <div style="margin-bottom: 12px;">
           <label class="item item-input" style="border: none;border-bottom: 1px solid #b5b5b5">
                           <i class="icon  ion-university" style="font-size: 25px; margin-right: 10%;"></i>
                        <input type="text" placeholder="College Code (eg-CIT)" value="">
                    </label>
          </div>
          <div>
           <label class="item item-input" style="border: none;border-bottom: 1px solid #b5b5b5">
                           <i class="icon  ion-android-call" style="font-size: 25px; margin-right: 10%;"></i>
                        <input type="text" placeholder="Phone Number" value="">
                    </label>
          </div>
          
                   
              <button style="background: #fe980f;" type="submit" class="button button-positive button-block" ng-click="doSignUp()" ng-disabled="(selected_tab=='Email') ? (login_form.user_roll_no.$invalid || login_form.user_password.$invalid) : ((selected_tab=='Phone') ? (login_form.user_phone.$invalid || login_form.user_pin.$invalid) : false)">
                Sign up
              </button>
          </form>
                <div class="alternative-actions" style="text-align: center;">
                    <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            Already have an account? Log In
          </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
