ion-side-menu
{
	ion-content
	{
		background-color: white;
	}

	ion-item.item
	{
		border:none;

		.item-content
		{
			background-color: white;

			.icon:before
			{
				
				color: #111111;				
				font-size: 22px;
				width: 32px;
				height: 32px;
				line-height: 32px;
			}
		}

		.item-content.activated
		{
			background-color: lighten($main-menu-bg, 10);
		}

		.menu-text
		{
			color: #111;
		    font-weight: 500;
		    font-size: 17px;
		    margin-left: 18px;
		}
	}

	ion-item.item:first-child
	{
		border-top:none;
	}

	ion-item.item:last-child
	{
		border-bottom:none;
	}

	.heading-item
	{

		.item-content
		{
			height: 120px;
			padding-top: 45px;
			padding-left: 115px;
			background-color: #111 !important;
			padding-bottom: 0px;
		}

		.user-image-container
		{
			    width: 22%;
			    position: absolute;
			    top: 25px;
			    left: 15px;
			    border-radius: 100%;
			    background: #fafafa;
			    padding: 5%;

			.user-image
			{
				border-radius: 50%;
				padding: 8px;
				border: 1px solid #23262A;
				width: 100%;
				background: #fafafa;
			}
		}

		.greeting
		{
			    color: #FFFFFF;
			    margin-top: -8px;
			    margin-left: -14px;
			    font-size: 18px;
			    font-weight: 500;		
		}

		.message
		{
			color: darken($main-menu-color, 40);
			margin-left: -14px;
    		font-size: 17px;
		}
	}
}
