<ion-view class="maps-view">
    <ion-nav-title>
        <span>Track</span>
    </ion-nav-title>
    <ion-content scroll="false">
       <div id="wrapper">
         <div id="map-canvas">

         </div>

         <div id="over_map">
            <div class="item item-input-inset">
              <span style="font-size: 30px;" class="icon ion-android-bus"></span>
              <label style="width: 100%">
               <select class="ion-input-select--large">
  
                <option>Route 11</option>
                <option>Route 12</option>
                <option>Route 13</option>
                <option>Route 14</option>
                <option>Route 15</option>
                <option>Route 16</option>
                <option>Route 17</option>
              </select>

              </label>
             
            </div>
         </div>
      </div>
       <style>
        #map-canvas {
          height: 700px;
          margin: 0px;
          padding: 0px
        }
        #wrapper { position: relative; }
        #over_map { 
          position: absolute;     
          top: 60px;
          left: 10px;
          z-index: 99;
          width: 94%; 
        }
        .ion-input-select--large,
            .ion-input-select,
            select {
              -webkit-appearance:none;
              background-repeat: no-repeat;
              background-color: rgba(0,0,0,0);  
              border:thin solid #dddddd;
              font-weight:300;
              display:inline;
              vertical-align:middle;
              color:#333;
              padding: auto 0;
              overflow:hidden;
              box-sizing:border-box;

            }

            .ion-input-select--large {
              font-size:20px;
              border: none;
              background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
              text-indent:40px;
              padding:0.2rem 0;
              width: 100%
            }

            .ion-input-select {
              font-size:24px;
              background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
              text-indent:20px;
              padding:.0.2rem;
            }

            option {
              background:#444;
            }

            select::-ms-expand {
                display: none;
            }

            :focus {
              outline:none;
            }
            .gm-style-mtc {
                display: none;
              }
      </style>
    </ion-content>
</ion-view>