$auth-color: #FFFFFF;
$show-hide-password-color: lighten(#444444, 25%);
$auth-tabs-highlight: #795548 !important;
$auth-tabs-bg: #111;
$auth-tabs-color: darken($auth-color, 10%);
$auth-login-btn-bg: rgba($theme-color-1, .8);
$auth-signup-btn-bg: #000;
