	.walkthrough-view
{
	.top-content
	{
		height: 75%;
		text-align: center;

		h1
		{
			color: $auth-color;
		}
	}

	.bottom-content
	{
		height: 25%;
		padding-top: 5px;
		margin-top: 0px;

		.button
		{
			border: none;
			color: $auth-color;
			font-weight: bolder;
			font-size: 20px;
		}

		.login.button
		{
			color: #111;
    		border: 2px solid;
		}

		.sign-up.button
		{
			background-color: #f5861f;
    		color: white;
		}
	}
}
