<ion-view class="feeds-categories-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Falcon GPS
        </span>
            
                 <i class="icon ion-ios-bell" style="float: right;font-size: 25px;" ui-sref="app.forms"></i>           
          
    </ion-nav-title>
    <ion-content>
        <div class="row categories-list">
          <div class="col">
                <div class="card list entry-item">
                   
                   <div class="item item-text-wrap">
                        <span style="float: left;text-align: center;" ui-sref="app.profile">
                        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.feeds-categories">
          <i class="icon ion-person"></i>
          <h2 class="menu-text">My Account</h2>
        </ion-item>
                                
                        </span>
                       
                        
                        
                   </div>
                </div>
            </div>
         </div>
        </div>

        <div class="row categories-list">
                 <div class="col">
                <div class="card list entry-item">
                   
                   
                   <div class="item item-text-wrap">
                        <span style="float: left;text-align: center;" ui-sref="app.maps">
                        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.feeds-categories">
          <i class="icon ion-ios-navigate"></i>
          <h2 class="menu-text">Track My Bus</h2>
        </ion-item>
                                
                        </span>
                       
                        
                        
                   </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
