<ion-view class="forms-view">
    <ion-nav-title>
        <span>Notifications</span>
    </ion-nav-title>
    <ion-content>
        
        <div style="text-align: center;margin-top: 50%;">
       
            <i class="icon ion-ios-bell" style="color: #aaaaaa;font-size: 100px;"></i>
            <h4>No new notification</h4>
        </div>
     
    </ion-content>
</ion-view>
