<ion-view class="profile-view">
    <ion-nav-title>
        <span>Profile</span>
    </ion-nav-title>
    <ion-content>
        <div class="top-content row">
            <div class="profile-container">
                <div style="text-align: center;">
                    <div class="user-image-container">          
                      <h2 style="text-align: center;font-size: 25px;">S</h2>                   
                    </div>
                    <div class="user-twitter">1105216{{roll_no}}</div>
                </div>
            </div>
        </div>
        <div class="card list">
           <div class="item item-divider">              
              <ion-item class="item-icon-right" style="background: none;">
                            <i class="icon ion-edit" style="color: #F5861F;font-size: 20px;"></i>
                            <h2 class="menu-text">User Details</h2>
             </ion-item>
           </div>
           
           <div class="item item-text-wrap">
                <ion-item class="entry-heading item-icon-left">
                            <i class="icon ion-person" style="color: #111;font-size: 25px;"></i>
                            <h2 class="menu-text">Sivasankar</h2>
                </ion-item>
                <ion-item class="entry-heading item-icon-left">
                            <i class="icon ion-email" style="color: #111;font-size: 25px;"></i>
                            <h2 class="menu-text">sivasankar.selva@gmail.com</h2>
                </ion-item>
                <ion-item class="entry-heading item-icon-left">
                            <i class="icon ion-ios-telephone" style="color: #111;font-size: 25px;"></i>
                            <h2 class="menu-text">9578081667</h2>
                </ion-item>
                <ion-item class="entry-heading item-icon-left">
                            <i class="icon ion-university" style="color: #111;font-size: 25px;"></i>
                            <h2 class="menu-text">CIT</h2>
                </ion-item>
                
           </div>
        </div>
         <div class="card list">           
           <div class="item item-text-wrap">
                <ion-item class="entry-heading item-icon-left">
                            <i class="icon ion-location" style="color: #111;font-size: 25px;"></i>
                            <h2 class="menu-text">Change Location</h2>
                </ion-item>
           </div>
        </div>
        <div class="card list">
           <div class="item item-divider">              
              <ion-item class="item-icon-right" style="background: none;">
                            <i class="icon ion-plus-circled" style="color: #F5861F;font-size: 20px;"></i>
                            <h2 class="menu-text">Address</h2>
             </ion-item>
           </div>
           
           <!-- <div class="item item-text-wrap">
                <ion-item class="entry-heading item-icon-left">
                            <i class="icon ion-person" style="color: #F5861F;font-size: 25px;"></i>
                            <h2 class="menu-text">Sivasankar</h2>
                </ion-item>
           </div> -->
        </div>
         <div class="card list">           
           <div class="item item-text-wrap">
                <ion-item class="entry-heading item-icon-left">
                            <i class="icon ion-log-out" style="color: #111;font-size: 25px;"></i>
                            <h2 class="menu-text">Logout</h2>
                </ion-item>
           </div>
        </div>
    </ion-content>
</ion-view>
