<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list>
        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile">
          <div class="user-image-container">          
              <h2 style="text-align: center;font-size: 25px;">S</h2>
           
          </div>
          <h2 class="greeting">1105216</h2>
          <p class="message">Sivasankar</p>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.feeds-categories">
          <i class="icon ion-home"></i>
          <h2 class="menu-text">Home</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.maps">
          <i class="icon ion-ios-location"></i>
          <h2 class="menu-text">Track</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="auth.walkthrough">
          <i class="icon ion-log-out"></i>
          <h2 class="menu-text">Sign Out</h2>
        </ion-item>       
        <!-- <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.bookmarks">
          <i class="icon ion-bookmark"></i>
          <h2 class="menu-text">Saved for later</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.feeds-categories">
          <i class="icon ion-radio-waves"></i>
          <h2 class="menu-text">Feeds</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.wordpress">
          <i class="icon ion-social-wordpress"></i>
          <h2 class="menu-text">Wordpress</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.layouts">
          <i class="icon ion-wand"></i>
          <h2 class="menu-text">Layouts</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.miscellaneous">
          <i class="icon ion-asterisk"></i>
          <h2 class="menu-text">Miscellaneous</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.forms">
          <i class="icon ion-document"></i>
          <h2 class="menu-text">Forms</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.settings">
          <i class="icon ion-gear-a"></i>
          <h2 class="menu-text">Settings</h2>
        </ion-item> -->

    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
