.profile-view
{
  background-color: #eaeaea !important;

  .profile-container
  {
    margin: 0px auto;
    margin-top: 2vh;
    text-align: center;
  }

  .user-image-container
  {
    width: 72px;
    border-radius: 100px;
    background: #fafafa;
    padding: 13px;
    padding-top: 20px;

    .user-image
    {
      border-top: 1px solid $content-color;
      padding: 8px;
      background-color: $profile-bg;
      width: 100%;
      border-radius: 50%;
    }
  }

  .user-name
  {
    font-size: 20px;
    color: #F5861F;
  }

  .user-twitter
  {
    margin-top: 10px;
    font-size: 20px;
    color: white;
  }

  .top-content
  {
    background: #f5861f;  
    position: relative;
    height: 20vh;
  }

  .user-background-image-outer
  {
    height: 20vh;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }

  .bottom-content
  {
    padding: 0px;
    background-color: #F5861F;
    min-height: 55vh;
    position: relative;

    .user-bio
    {
      text-align: center;
      margin: 6px 30px;
      padding: 6px 0px;
    }
  }
}
